body {
    background-color: rgb(52, 45, 20);
}

.tituloh1 {
    color:rgb(181, 36, 82);
    text-align: center;
    font-family: 'Unbounded';
}

.tituloh2{
    color: rgb(36, 200, 222);
    text-align: center;
    font-family: 'NewsReader';
}

p {
    text-align: center;
    color: rgb(247, 214, 117);
}

ol {
    color: rgb(36, 200, 222);
    text-align: center;
    list-style-position: inside;
    width: fit-content;
    margin: auto;
    padding: auto;
}
