/*Tipografias HABIBI - UNBOUNDED - NEWSREADER*/

/*ESTILOS GENERALES*/
body {
    background-color:rgb(239, 230, 183);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;
}

/*HEADER*/
header, footer {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Unbounded', serif;
    color:rgb(55, 37, 1);
    text-align: center;
}

